// wide screen
@include mediaXl {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}

// desktops
@include mediaLg {
    grid-template-columns: repeat(3, 1fr);
}

// tablets, small laptops
@include mediaMd {
    main {
        .projects-interactive-container .projects .item aside {
            display: none;
        }
        .lg-heading {
            line-height: 1;
            margin-bottom: 1;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    ul.menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    div.menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);

        .portrait {
            zoom: 0.75;
        }
    }

    .about-info {
        grid-template-areas:
            'bioimage'
            'bio';
        grid-template-columns: 1fr;
    }

    .projects{
        grid-template-columns: repeat(2, 1fr);
    }

    #project-detail {
        article {
            grid-template-areas:
                'about'
                'meta'
                'demos';
            grid-template-columns: 1fr;
            .demos .video > div:not(:last-child) {
                margin-right: 0;
            }
        }
    }
}

// smartphones
@include mediaSm {
    main#home h1 {
        margin-top: 10vh
    }

    .projects {
        grid-template-columns: 1fr;
    }
}
